div#channels {
  margin-bottom: -4rem;

  padding: 2rem;
  padding-bottom: 4rem;
}

div#channels .table {
  grid-template-columns:
    minmax(14rem, auto)
    8rem
    minmax(44rem, auto)
    6rem !important;
}
