div#playlistItemsView {
  margin-bottom: -4rem;

  padding: 2rem;
  padding-bottom: 4rem;
}

button#trash {
  margin: 0 0 0.2rem 0.64rem;

  border: 0;
  padding: 0;

  font-size: 1rem;

  background: #181818;
  color: #ff0000;
  cursor: pointer;
}

button#trash:hover {
  color: #dd0000;
}

button#trash:disabled {
  color: #606060;
}

div#playlistItemsView .table .row {
  border: 0.5px solid #ffffff;

  text-align: center;

  background: #181818;
}
