div#playlistItemsView {
  padding: 2rem;
  padding-bottom: 4rem;
}

div#playlistItemsView .table {
  grid-template-columns:
    6rem
    minmax(8rem, auto)
    8rem
    minmax(24rem, auto)
    minmax(12rem, auto)
    8rem
    6rem
    2rem !important;
}

div#playlistItemsView .table .row {
  grid-column: 1 / 9;
  text-align: center;

  background-color: #181818;
}
