div#playlistsView {
  margin-bottom: -4rem;

  padding: 2rem;
  padding-bottom: 4rem;
}

div#playlistsView .table .row {
  border: 0.5px solid #ffffff;

  text-align: center;

  background: #181818;
}
