div#playlists {
  padding: 2rem;
  padding-bottom: 4rem;
}

div#playlists .table {
  grid-template-columns:
    minmax(14rem, auto)
    8rem
    minmax(24rem, auto)
    minmax(20rem, auto)
    6rem !important;
}
