div#playlistsView {
  margin-bottom: -4rem;

  padding: 2rem;
  padding-bottom: 4rem;
}

div#playlistsView .table {
  grid-template-columns:
    minmax(14rem, auto)
    8rem
    minmax(24rem, auto)
    minmax(20rem, auto)
    6rem
    2rem !important;
}

div#playlistsView .table .row {
  grid-column: 1 / 7;
  text-align: center;

  background-color: #181818;
}
