div .table {
  border: 1px solid #ffffff;

  overflow: auto;

  background: #ffffff;
}

div .table .header,
div .table .cell {
  border: 0.5px solid #ffffff;
  padding: 0.5rem;

  background: #181818;
  color: #ffffff;
}

div .table .header {
  font-weight: 700;
}

div .table .cell {
  font-weight: 500;
}

div .table a {
  font-weight: 700;

  color: #55bbff;
  text-decoration: none;
}

div .table a:hover {
  text-decoration: underline;
}

div .table a:visited {
  color: #ff88ff;
}

div .table input[type="checkbox"] {
  transform: translate(-0.16rem, -0.04rem);
}

div#loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  padding: 1rem;

  font-size: 1.5rem;
  font-weight: 700;

  color: #ffffff;
}
