div .table {
  grid-template-columns:
    minmax(auto, 6rem)
    minmax(8rem, auto)
    minmax(auto, 8rem)
    minmax(24rem, auto)
    minmax(12rem, auto)
    minmax(auto, 8rem)
    minmax(auto, 6rem) !important;

  border: 1px solid #ffffff;
  grid-gap: 1px;

  overflow: auto;

  background-color: #ffffff;
}

div .table .header,
div .table .cell {
  padding: 0.5rem;

  background-color: #181818;
  color: #ffffff;
}

div .table .header {
  font-weight: 700;
}

div .table .cell {
  font-weight: 500;
}
